Repository jquery/jquery-ui, pull requests merged in 2021-11, with the labels that each got.

#1994 Tooltip: Don't crash on empty content
  tests/unit/tooltip/core.js
  ui/widgets/tooltip.js
Labels: Bug, Comp: Tooltip, Comp: Widget

#2009 Sortable: Fix positioning when moving a Draggable item into a Sortable
  tests/unit/sortable/options.js
  ui/widgets/sortable.js
Labels: Comp: Draggable, Comp: Sortable

#2019 Widget: Make contextless widget construction work
  tests/unit/widget/core.js
  ui/widget.js
Labels: Comp: Widget

#2021 Build: Switch from Travis to GitHub actions
  .github/workflows/test.yml
  .npmignore
  .travis.yml
  Gruntfile.js
Labels: Comp: Build
