Repository jquery/jquery-ui, pull requests merged in 2022-01, with the labels that each got.

#2031 Autocomplete: Rewrite with a delay instead of appending the live region
  tests/unit/autocomplete/core.js
  ui/widgets/autocomplete.js
Labels: Bug, Comp: Autocomplete, Behavior different from 1.12

#2039 Build: Add Felix to .mailmap, update AUTHORS.txt
  .mailmap
  AUTHORS.txt
Labels: Comp: Build

#2037 Widget: Optimize attachment of the _untrackClassesElement listener
  tests/unit/autocomplete/core.js
  tests/unit/selectmenu/core.js
  tests/unit/tabs/core.js
  ui/widget.js
Labels: Bug, Comp: Widget, Behavior different from 1.12
