Repository jquery/jquery-ui, pull requests merged in 2024-06, with the labels that each got.

#2258 Build: Test on more jQuery Core versions
  .github/workflows/node.js.yml
Labels: Comp: Build, Needs review

#2260 Tests: conslidate GH actions runs; separate git & stable jQuery versions
  .github/workflows/node.js.yml
Labels: Comp: Tests

#2263 Tests: remove testswarm grunt task
  build/tasks/testswarm.js
  tests/unit/position/core.js
Labels: Comp: Tests

#2257 Dialog: Add aria-modal support
  tests/unit/dialog/core.js
  ui/widgets/dialog.js
Labels: Comp: Dialog, Accessibility
