Repository jquery/jquery-ui, pull requests merged in 2024-04, with the labels that each got.

#2234 Tests: align test runner with other repos
  .gitignore
  package.json
  tests/runner/.eslintrc.json
  tests/runner/browsers.js
  tests/runner/browserstack/api.js
  tests/runner/browserstack/buildBrowserFromString.js
  tests/runner/browserstack/createAuthHeader.js
  tests/runner/browserstack/local.js
  tests/runner/command.js
  tests/runner/createTestServer.js
  tests/runner/flags/browsers.js
  tests/runner/flags/jquery.js
  tests/runner/flags/suites.js
  tests/runner/lib/buildTestUrl.js
  tests/runner/lib/getBrowserString.js
  tests/runner/queue.js
  tests/runner/reporter.js
  tests/runner/run.js
  tests/runner/selenium/browsers.js
Labels: Comp: Tests

#2228 Build: Update jquery-3.x to point to 3.7.1 instead of 3.7.0
  bower.json
  external/jquery/jquery.js
Labels: Comp: Build, Needs review

#2229 Tests: Workaround a jQuery 1.8 issue with one dialog test
  tests/unit/dialog/methods.js
Labels: Comp: Tests, Needs review

#2230 Tests: Increase robustness of a draggable `revert` test
  tests/unit/draggable/options.js
Labels: Comp: Tests, Needs review

#2231 Tests: Skip a problematic keyboard test in IE with jQuery 3.6
  tests/unit/tabs/core.js
Labels: Comp: Tests, Needs review

#2233 Docs: remove a duplicated "be" in an accordion demo
  demos/accordion/collapsible.html
Labels: Comp: Docs

#2239 Build: Update release dependencies
  build/release.js
Labels: Comp: Build

#2242 Update custom_render.html
  demos/autocomplete/combobox.html
  demos/controlgroup/toolbar.html
  demos/dialog/modal-confirmation.html
  demos/dialog/modal-message.html
  demos/draggable/sortable.html
  demos/selectmenu/custom_render.html
  demos/spinner/latlong.html
  demos/tooltip/custom-animation.html
  demos/tooltip/custom-content.html
  demos/tooltip/custom-style.html
  demos/tooltip/default.html
  demos/tooltip/tracking.html
  demos/widget/default.html
Labels: Comp: Docs
